<div ng-init="populate(true, user)" style="margin-bottom: 40px !important;">
    <div style="height: 70px !important;">
        <div class="alert alert-danger" data-ng-show="error && error !== ''"><strong>Failure!</strong>&nbsp;{{error}}</div>
        <div class="alert alert-success" data-ng-show="loadingMessage && loadingMessage !== ''"><strong>Success!</strong>&nbsp;{{loadingMessage}}</div>
    </div>
    <form>
        User:
        <input ng-model="user" placeholder="Search for a user" class="form-control">
    </form>
    <button type="button" class="btn btn-info float-right btn-sm" data-ng-click="populateNewUser(true, user)">Login?</button>
    <div class="panel">
        <p>Create a Todo Item</p>
        <div class="input-group" >
            <input ng-model="newTodoTitle" placeholder="Title" class="form-control"/>
            <br>
            <input ng-model="newTodoDescription" placeholder="Description (Optional)" class="form-control"/>
            <select  data-ng-model="newTodoProgress">
                <option ng-selected=true value="0">Progress</option>
                <option value="NOT_STARTED">Not Started...</option>
                <option value="IN_PROGRESS">In Progress</option>
                <option value="ALMOST_DONE">Almost Done</option>
                <option value="COMPLETE">Complete!</option>
            </select>
            <select  data-ng-model="newTodoPriority">
                <option ng-selected=true value="0">Priority</option>
                <option value="LOW_IMPORTANCE">Low</option>
                <option value="MEDIUM_IMPORTANCE">Medium</option>
                <option value="VERY_IMPORTANT">High</option>
            </select>
            <br>
            <form>
                Due Date:
                <input type="date" name="dueDate" data-ng-model="newTodoDueDate">
            </form>
            <span class="input-group-btn">
         <button ng-click="add()" class="btn btn-primary">Add</button>
         </span>
        </div>
        <div style="padding-bottom:50px"></div>
        <p>Todos: </p>
        <ul class="list-group" id="todolist">
            <div class="list-group-item list-group-item-action flex-column align-items-start" data-ng-repeat="item in todoList">
                <div>
                    <button type="button" class="btn btn-danger float-right btn-sm" data-ng-click="delete(item.id)">Delete</button>
                    <button type="button" class="btn btn-info float-right btn-sm" data-ng-model="item.finished"  data-ng-click="finishSwitch(item)">Complete</button>
                    <button type="button" class="btn btn-info float-right btn-sm" ng-disabled="item.finished" data-ng-click="viewCreateSubtask(item)">Create SubTask</button>
                    <button type="button" class="btn btn-success float-right btn-sm" ng-disabled="item.finished" data-ng-click="editSwitch(item)">Edit</button>
                    <span data-ng-hide="item.finished"> ID: {{item.id}}  </span>
                    <br>
                    <span data-ng-hide="item.finished">
                  <h2> TODO: {{item.title}} </h2>
               </span>
                    <br>
                    <span data-ng-hide="item.finished"> DESCRIPTION: {{item.description}}</span>
                    <br>
                    <span data-ng-hide="item.finished"> PRIORITY: {{item.priorityType}}</span>
                    <br>
                    <span data-ng-hide="item.finished"> PROGRESS: {{item.progressType}}</span>
                    <br>
                    <span data-ng-hide="item.finished"> DUE: {{ item.dueDate | date  : "MM/d/y"}} </span>
                    <br>
                </div>
                <div >
                    <div data-ng-show="item.edit" >
                        <hr>
                        <p>Update Todo Item</p>
                        <label data-ng-model="editInProgressTodo.user"> {{ item.user }} </label>
                        <label for="editTitle"> Title</label><input id="editTitle" class="form-control" data-ng-model="editInProgressTodo.title"/>
                        <label for="editDescription">Description</label><input id="editDescription" class="form-control" data-ng-model="editInProgressTodo.description"/>
                        <label style="padding-right:10px;padding-top:10px" for="editProgress">Progress  </label>
                        <select id="editProgress"  data-ng-model="editInProgressTodo.progressType">
                            <option ng-selected=true value="0">Progress</option>
                            <option value="NOT_STARTED">Not Started...</option>
                            <option value="IN_PROGRESS">In Progress</option>
                            <option value="ALMOST_DONE">Almost Done</option>
                            <option value="COMPLETED">Complete!</option>
                        </select>
                        <label style="padding-right:10px;padding-top:10px" for="editPriority">Priority  </label>
                        <select id="editPriority" data-ng-model="editInProgressTodo.priorityType">
                            <option ng-selected=true value="0">Priority</option>
                            <option value="LOW_IMPORTANCE">Low</option>
                            <option value="MEDIUM_IMPORTANCE">Medium</option>
                            <option value="VERY_IMPORTANT">High</option>
                        </select>
                        <label style="padding-right:10px;padding-top:10px" for="editDueDate">DueDate  </label>
                        <input id="editDueDate" type="date" name="dueDate" data-ng-model="editInProgressTodo.dueDate" placeholder="{{item.dueDate | date  : 'y/d/MM'}}" value="{{item.dueDate | date  : 'y/d/MM'}}">
                        <span class="input-group-btn">
                  <button type="button" data-ng-click="update(item)" class="btn btn-primary float-right btn-sm">Save</button>
                  <button type="button" data-ng-click="editSwitch(item)"  class="btn btn-secondary float-right btn-sm">Cancel</button>
                  </span>
                    </div>
                    <div data-ng-show="item.editTask" >
                        <hr>
                        <p>Create subtask</p>
                        <label for="editTaskDescription">Description</label><input id="editTaskDescription" class="form-control" data-ng-model="newTaskDescription"/>
                        <label style="padding-right:10px;padding-top:10px" for="editProgress">Progress  </label>
                        <select id="editTaskProgress"  data-ng-model="newTaskProgress">
                            <option ng-selected=true value="0">Progress</option>
                            <option value="NOT_STARTED">Not Started...</option>
                            <option value="IN_PROGRESS">In Progress</option>
                            <option value="ALMOST_DONE">Almost Done</option>
                            <option value="COMPLETE">Complete!</option>
                        </select>


                  <button type="button" data-ng-click="finishCreateSubtask(item.id)" class="btn btn-primary float-right btn-sm">Save</button>
                  <button type="button" data-ng-click="toggleViewCreateSubtask(item)"  class="btn btn-secondary float-right btn-sm">Cancel</button>
                  </span>
                    </div>
                </div>

            </div>
        </ul>
    </div>
</div>